{#
 # Truck reservation confirmation template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/reservation/confirmation/[token] is requested.
 #
 #}



{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'interior confirmation' %}

{% block content %}
    <section class="hero" style="background-image:url('/media/images/_hero/home1.jpg')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">

                    {{ truckRentalAgreement.body }}

                    <form class="main-form truck" id="reservationConfirmationForm" method="post" action="" accept-charset="utf-8">
                        {{ getCsrfInput() }}
                        <input type="hidden" name="action" value="reservation/completeReservation">
                        <input type="hidden" name="redirect" value="{{ url('reservation/confirmed') }}">

                        <label>
                            <input type="checkbox" name="fields[agreeToRentalTerms]" class="required" required value="yes">
                            I hereby agree to all of the conditions above.
                        </label>
                        <br>

                        <label style="margin:0;" for="signature">Signature</label>
                        <small style="margin-bottom:2em;">Type your name below to complete your online signature</small>
                        <input type="text" class="required" required name="fields[electronicSignature]">
                        <br>

                        <button class="button" type="submit">Submit</button>

                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
