{#
 # Truck reservation success template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/reservation/confirmed is requested.
 #
 #}

{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'interior' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">

                    {# Include the matrix filed for more awesome layout power. #}
                    {% include 'modules/_matrix' %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
