{#
 # Truck home template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/truck is requested.
 #
 #}

{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'interior' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">

                    {# Include the matrix filed for more awesome layout power. #}
                    {% include 'modules/_matrix' %}

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="truckStatus"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="reservationStatusMessage"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 main-content">
                    <form id="reservationForm" class="main-form" action="" method="post" accept-charset="utf-8">
                        {{ getCsrfInput() }}

                        {% macro errorList(errors) %}
                            {% if errors %}
                                <ul class="errors">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endmacro %}

                        {% from _self import errorList %}

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="reservationStartDate">Start</label>
                                <input type="text" class="input-small daterange" id="reservationStartDate" name="reservationStartDate"
                                       placeholder="Start Date"/>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="reservationEndDate">End</label>
                                <input type="text" class="input-small daterange" id="reservationEndDate" name="reservationEndDate"
                                       placeholder="End Date"/>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName" placeholder="First Name">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName" placeholder="Last Name">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="email">Email</label>
                                <input type="email" id="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label class="sr-only" for="phone">Phone</label>
                                <input type="tel" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="sr-only" for="comment">Message</label>

                                <textarea id="comment" name="comment" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}