{#
 # Footer template
 # ---------------
 #
 #}

<div class="marked"></div>
<a class="contact" href="#contactForm">Contact us
</a>
<footer>
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-sm-3">
                <p><strong>Office:</strong><br>
                    {{ officeInformation.officeTitle }}<br>
                    {{ officeInformation.address.street1 }}<br>
                    {{ officeInformation.address.city }}
                    , {{ officeInformation.address.state }} {{ officeInformation.address.zip }}
                </p>

                {% set officePhneAnchor = officeInformation.officePhone|replace({'(': '', ')': '', ' ': '', '-':''}) %}

                <p><strong>Phone:</strong><br>
                    <a href="tel:+1{{ officePhneAnchor }}">{{ officeInformation.officePhone }}</a></p>

                <p><strong>Email:</strong><br>
                    <a href="mailto:{{ officeInformation.email }}">{{ officeInformation.email }}</a>
                </p>
                {% include '_includes/social' %}
            </div>
            <div class="col-sm-9">
                {% macro errorList(errors) %}
                    {% if errors %}
                        <div class="has-error">
                            {% for error in errors %}
                                <i class="fa fa-exclamation-triangle"></i> {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endmacro %}
                {% from _self import errorList %}

                <div id="contactStatus">
                    <div class="text-center">
                        <div id="contactStatusMessage"></div>
                    </div>
                </div>

                <form class="row main-form footer-form" method="post" id="contactForm" accept-charset="utf-8">
                    {{ getCsrfInput() }}

                    <input type="hidden" name="action" value="leads/saveLead"/>

                    <div class="col-xs-12">
                        <p>I'm ready to get started</p>

                        <div class="row">
                            <div class="col-sm-6 left">
                                <input type="text" name="name" placeholder="Tell us your name">
                                <input type="email" name="email" placeholder="Tell us your email">
                                <input type="text" name="status" placeholder="Are you a buyer or a seller?">
                                <select name="preferredAgent" id="preferredAgent">
                                    <option value="No Preference" class="disabled" selected disabled>- Request one of our agents (optional) -</option>
                                    {% for agent in craft.users.group('agent') %}
                                    <option value="{{ agent.email }}">{{ agent.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                
                                <textarea name="comment" id="" placeholder="Send us a brief message" rows="10"></textarea>
                            </div>
                        </div>
                        <input type="submit" onClick="ga('send', 'event', { eventCategory: 'Send Email', eventAction: 'click', eventLabel: 'lead'});" value="Get in contact with us!">
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

<div class="footer-lower">
    <div class="container-fluid wrap">

        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li>&copy;{{ now.year }} Charter House Real Estate</li>
                    <li>Licensed to sell real estate in Iowa &ndash; Licenses #{{ officeInformation.licenseNumber }} &amp; #{{ officeInformation.licenseNumber2 }}</li>
                </ul>
                    
                <p>
                    *Calculations do not include closing costs and other state fees.
                </p>
            </div>
        </div>
    </div>
</div>