{#
 # Main navigation template
 # ---------------
 #
 #}
<div class="tophat hidden-xs hidden-sm">
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-xs-6">
                {% set officePhneAnchor = officeInformation.officePhone|replace({'(': '', ')': '', ' ': '', '-':''}) %}

                <ul>
                    <li><p><strong>Phone:</strong>
                    <a href="tel:+1{{ officePhneAnchor }}">{{ officeInformation.officePhone }}</a></p></li>
                </ul>
                

                
            </div>
            <div class="col-xs-6">
                {% include '_includes/social' %}
            </div>
        </div>
        
                
    </div>
</div>
<nav class="mainnav">
    <div class="container-fluid wrap">
        <div class="col-xs-10 col-sm-3">
            <div class="logo">
                <a href="{{ siteUrl }}"><img src="/resources/img/logo.png" alt=""></a></div>
        </div>
        <div class="col-sm-9 hidden-xs hidden-sm">
            <ul>
                <li><a href="{{ url('listings') }}">Our Listings</a></li>
                <li><a href="{{ url('sellers') }}">Sell Your Home</a></li>
                <li><a href="{{ url('buyers') }}">Buy a Home</a></li>
                <li><a href="{{ url('for-sale-by-owner') }}">For Sale by Owner</a></li>
                <li><a href="{{ url('team') }}">Our Team</a></li>
                <li><a href="{{ url('reviews') }}">Reviews</a></li>
                <li><a href="{{ url('about') }}">About</a></li>
                {# <li><a href="{{ url('truck') }}">Truck Rental</a></li> #}
                {# <li><a href="{{ url('partners') }}">Partners</a></li> #}
            </ul>
        </div>
        
    </div>
</nav>
<div class="hiddenNav visible-sm visible-xs">
                <div class="mobileButton" id="toggle">
                  <i class="fa fa-bars"></i>
                </div>
            
        </div>
<div class="navOverlay" id="overlay">
      <nav>
        <ul>
          <li><a href="{{ url('listings') }}">Our Listings</a></li>
                <li><a href="{{ url('sellers') }}">Sell Your Home</a></li>
                <li><a href="{{ url('buyers') }}">Buy a Home</a></li>
                <li><a href="{{ url('team') }}">Our Team</a></li>
                <li><a href="{{ url('reviews') }}">Reviews</a></li>
                <li><a href="{{ url('about') }}">About</a></li>
                {# <li><a href="{{ url('truck') }}">Truck Rental</a></li> #}
                {# <li><a href="{{ url('partners') }}">Partners</a></li> #}
        </ul>
      </nav>
    </div>
