<p>
    {{ element.address.street1 }}
    {% if element.address.street2|length %}
        <br>{{ element.address.street2 }}
    {% endif %}

    {{ element.address.city }} {{ element.address.state }} {{ element.address.zip }}<br>
</p>