<ul class="social">
                    <li><a onClick="ga('send', 'event', { eventCategory: 'Go To Social Media', eventAction: 'click', eventLabel: 'follower'});" href="{{ socialMedia.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a onClick="ga('send', 'event', { eventCategory: 'Go To Social Media', eventAction: 'click', eventLabel: 'follower'});" href="{{ socialMedia.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a onClick="ga('send', 'event', { eventCategory: 'Go To Social Media', eventAction: 'click', eventLabel: 'follower'});" href="{{ socialMedia.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a onClick="ga('send', 'event', { eventCategory: 'Go To Social Media', eventAction: 'click', eventLabel: 'follower'});" href="{{ socialMedia.youtube }}" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>