{% extends "_layouts/cp" %}

{% set title = "Leads"|t %}

{% set content %}
    {% set leads = craft.leads.leads %}

    <div class="tableview">

        {% if leads|length %}
            <p>Here you will find all of the people who have filled out the lead form. Click on the person's name to
                get all of the details about their submission.</p>
            <script>
                window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
                window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";
            </script>

            <table id="leadsTable" class="data fullwidth">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Requested Agent</th>
                    <th>Submitted On</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>

                {% for lead in leads %}
                    <tr>
                        <div class="lead">
                            <td>
                                <a href="{{ url('leads/lead/'~lead.id) }}">{{ lead.name }}</a>
                            </td>
                            <td>
                                <a href="mailto:{{ lead.email }}?subject=Greetings From {{ siteName }}">{{ lead.email }}</a>
                            </td>
                            <td>{{ lead.preferredAgent }}</td>
                            <td>{{ lead.dateCreated }}</td>
                            <td class="thin">
                                <a class="delete icon delete-lead" title="{{ 'Delete'|t }}"
                                   role="button"
                                   data-id="{{ lead.id }}"
                                   data-name="{{ lead.name }}"></a>
                            </td>
                        </div>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% else %}
            <p>Sadly, no one has filled out the lead form.</p>
        {% endif %}

    </div>
{% endset %}