{#
 # Testimonials home template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/testimonials is requested.
 #
 #}

{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'interior reviews' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row filters">
                <div class="col-sm-6">
                    <p><span class="filter" data-filter="all">All</span> | <span class="filter" data-filter=".buyer">Buyers</span> | <span class="filter" data-filter=".seller">Sellers</span></p> 
                </div>
            </div>
        </div>
        <ul class="testimonials">         
            {# Include the matrix filed for more awesome layout power. #}
            {% include 'modules/_matrix' %}

            {#
            # Get the category group to loop through all of the categories.
            # In this case, each category is a testimonial.
            #
            #}
            {% set reviews = craft.categories.group('testimonials') %}

            {% for review in reviews %}
                <li class="mix {{ review.buyerOrSeller }}">
                    <div class=" wrap">
                        <div class="row">
                            <div class="col-sm-4 col-sm-push-8">
                                {% set image = review.testimonialImage.first() %}
                                <div class="img-contain">
                                    <img src="{{ image.url('testimonialThumbnail') }}" alt="{{ review.attribution }}">
                                </div>
                            </div>
                            <div class="col-sm-8 col-sm-pull-4">
                                <div class="testimonial-content">
                                    <p class="lead-in"><strong>{{ review.title }}</strong></p>

                                    <p>{{ review.body|striptags }}</p>

                                    <p class="byline">{{ review.attribution }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}