{#
 # Team member home template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/team is requested.
 #
 #}

{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'team interior partners' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">
                    {# Include the matrix filed for more awesome layout power. #}
                    {% include 'modules/_matrix' %}


                    {# Get all of the team member categories. #}
                    {% set team = entry.teamMembers %}

                        {% for member in team %}
                        <article class="container-fluid">

                                        

                                
                                <div class="row">
                                {% if member.photoUrl|length %}
                                    <div class="col-sm-3">
                                
                                    <img src="{{ member.photoUrl('original') }}" alt="">

                                    
                            </div>
                                {% endif %}

                            <div class="{% if member.photoUrl|length %}col-sm-9{% endif %} col-xs-12">
                                <h3>{{ member.name }}</h3>
                                <span class="title">{{ member.positionTitle }}</span>
                                <ul class="meta row list-inline">
                                        
                                        {% if member.profilePhoneNumber|length %}
                                            {% set phoneAnchor = member.profilePhoneNumber|replace({'(': '', ')': '', ' ': '', '-':''}) %}
                                            <li>
                                                <i class="fa fa-phone"></i>
                                                <a href="tel:+1{{ phoneAnchor }}">{{ member.profilePhoneNumber }}</a>
                                            </li>
                                        {% endif %}
                                        {% if member.email|length %}
                                        <li>
                                                <i class="fa fa-envelope"></i>
                                                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {{ member.teamPageBio }}
                                <div class="row">
                                    <div class="col-sm-12">
                                    
                                    {% if member.isInGroup('agent') %}
                                    <a class="button" href="/agents/{{ member.name | replace(' ','') | lower }}">{{ member.firstName}}'s agent page</a>
                                    {% endif %}
                                </div>
                                </div>
                            </div>
                            </article>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
