{#
 # Partners home template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/partners is requested.
 #
 #}

{% extends "_layouts/default" %}

{% set title = entry.title %}
{% set bodyClass = 'interior sellers partner' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">

                    {# Include the matrix filed for more awesome layout power. #}
                    {% include 'modules/_matrix' %}

                    <ul class="partners">
                        {% for entry in craft.entries.section('partner') %}
                            <li class="row">
                                <div class="col-sm-3 logo">
                                    {% set logo = entry.partnerLogo.first() %}
                                    <a href="{{ entry.partnerWebsite }}">
                                        <img src="{{ logo.url() }}"
                                             alt="{{ entry.title }}">
                                    </a>
                                </div>
                                <div class="col-sm-9 content">

                                    <h3>{{ entry.title }}</h3>
                                    {{ entry.body }}

                                    <ul class="meta row">
                                        {% if entry.partnerWebsite|length %}
                                            <li class="col-sm-6"><i class="fa fa-laptop"></i>
                                                <a href="{{ entry.partnerWebsite }}">{{ entry.partnerWebsite }}</a>
                                            </li>
                                        {% endif %}

                                        {% if entry.partnerPhone|length %}
                                            {% set phoneAnchor = entry.partnerPhone|replace({'(': '', ')': '', ' ': '', '-':''}) %}
                                            <li class="col-sm-6">
                                                <i class="fa fa-phone"></i>
                                                <a href="tel:+1{{ phoneAnchor }}">{{ entry.partnerPhone }}</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
