{% extends "_layouts/cp" %}

{% if sellerId is not defined %}{% set sellerId = null %}{% endif %}
{% set title = "Seller Details"|t %}
{% set content %}

    <div class="tableview">
        {% if sellerId %}
            {% set seller = craft.sellers.getSeller(sellerId) %}

            <h2>{{ seller.firstName }} {{ seller.lastName }}</h2>

            <table id="sellerDetailsTable" class="data fullwidth">
                <thead></thead>
                <tfoot></tfoot>
                <tbody>
                <tr>
                    <td>Email:</td>
                    <td>
                        <a href="mailto:{{ seller.email }}?subject=Greetings From {{ siteName }}">{{ seller.email }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>
                        {{ seller.phone }}
                    </td>
                </tr>
                <tr>
                    <td>Plan:</td>
                    <td>{{ seller.plan }}</td>
                </tr>
                <tr>
                    <td>Submitted:</td>
                    <td>{{ seller.dateCreated|date("m/d/Y") }}</td>
                </tr>
                </tbody>
            </table>

            <p><a href="{{ url('sellers') }}">Go back to all sellers</a></p>

        {% else %}
            <h3>Nobody here by that name.</h3>
        {% endif %}
    </div>
{% endset %}