{% import "_includes/forms" as forms %}

{{ forms.textField({
    first:        true,
    label:        "System Email Address"|t,
    id:           'toEmail',
    name:         'toEmail',
    placeholder:  'name@email.com',
    instructions: "The email address(es) Craft will use when sending email. Separate multiple email addresses with commas."|t,
    value:        settings.toEmail,
    autofocus:    true,
    required:     true,
    errors:       settings.getErrors('toEmail')
}) }}

{{ forms.textField({
    label:        "System Subject Line"|t,
    id:           'adminSubject',
    name:         'adminSubject',
    instructions: "The subject line for the email that is sent to the system email address."|t,
    value:        (settings.adminSubject ? settings.adminSubject : "New message from {siteName}"|t({ siteName: craft.app.siteName })),
    errors:       settings.getErrors('adminSubject')
}) }}

{{ forms.textField({
    label:        "Welcome Subject Line"|t,
    id:           'guestSubject',
    name:         'guestSubject',
    instructions: "The subject line that the person who filled out the lead form will get."|t,
    value:        (settings.guestSubject ? settings.guestSubject : "Hello from {siteName}"|t({ siteName: craft.app.siteName })),
    errors:       settings.getErrors('guestSubject')
}) }}

{{ forms.textareaField({
    label:        "Welcome Email Message"|t,
    id:           'welcomeEmailMessage',
    name:         'welcomeEmailMessage',
    instructions: "The email message that is sent to that the person who filled out the sellers form."|t,
    value:        (settings.welcomeEmailMessage ? settings.welcomeEmailMessage : "<p>Hi {{firstName}} &mdash; thank you for reaching out to us!<br>We wanted to drop you a quick note that we've received your information and we'll be in touch very soon!</p><p>Regards,<br>{siteName}</p>"|t({ siteName: craft.app.siteName })),
    errors:       settings.getErrors('welcomeEmailMessage')
}) }}