{#
 # Properties entry template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/properties/[property] is requested.
 #
 #}

{% extends '_layouts/listings' %}

{% set title = entry.title %}

{% set bodyClass = 'listing' %}
{#{% set bodyClass = [entry.saleStatus, ' interior']|join %}#}

{% set sectionParams = {
'section': 'listing',
'order':   'postDate'
} %}

{% set prevProperty = entry.getPrev(sectionParams) %}
{% set nextProperty = entry.getNext(sectionParams) %}
{% set propertyImages = entry.propertyImages %}

{% block content %}
    <section class="hero">
        <div class="flexslider">
            <ul class="slides">
                {% for heroImage in entry.featuredImages %}
                    <li style="background-image:url({{ heroImage.getUrl( 'hero' ) }})"></li>
                {% endfor %}
            </ul>
        </div>

        <div class="social-share">
            <script>
                function fbShare(url, title, descr, image, winWidth, winHeight) {
                    var winTop = (screen.height / 2) - (winHeight / 2);
                    var winLeft = (screen.width / 2) - (winWidth / 2);
                    window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
                }
            </script>
            <a href="javascript:fbShare('{{ url(craft.request.path) }}', '+', '+', '{{ siteUrl|trim('/') }}{{ entry.featuredImages.first().getUrl( 'ogImage' ) }}', 520, 350)" class="facebook"><i
                        class="fa fa-facebook"></i></a>


            <a href="https://twitter.com/intent/tweet?url={{ entry.url }}&amp;text={{ entry.title|replace({' ':'%20'}) }}"onclick="javascript:window.open(this.href,
                '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></a>


        </div>
    </section>


    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="address">{{ entry.address.street1 }} <span><br>{{ entry.address.city }}</span></h1>

                    <h2 class="price"><sup>$</sup>{{ entry.price | replace({'$' : ''}) }}</h2>

                    <div class="preview-contain">
                        <div class="gallery flexslider" id="gallery">

                            <ul class="slides">
                                {% if propertyImages|length %}
                                    {% for propertyImage in propertyImages %}
                                        <li>
                                            <a rel="housename" href="{{ propertyImage.getUrl() }}">
                                                <img src="{{ propertyImage.getUrl('galleryThumbnail') }}" alt="">
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li>
                                        <img src="/resources/img/default-house.jpg" height="220" width="220" alt="">
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                        <div class="gallery-thumbs flexslider" id="carousel">
                            <ul class="slides">
                                {% if propertyImages|length %}
                                    {% for propertyImage in propertyImages %}
                                        <li><img src="{{ propertyImage.getUrl('carouselThumbnail') }}" alt=""></li>
                                    {% endfor %}
                                {% else %}
                                    <li><img src="/resources/img/default-house.jpg" height="100" width="75" alt=""></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <div class="home-description">
                        {# Include the matrix filed for more awesome layout power. #}
                        {% include 'modules/_matrix' %}
                    </div>
                </div>
                <div class="col-sm-5 col-sm-push-1">
                    {% set agent = entry.listingAgent.first %}

                   

                    <ul class="house-meta">
                        <li class="row">
                            <div class="col-xs-4">MLS#</div>
                            <div class="col-xs-8">{{ entry.mlsNumber }}</div>
                        </li>
                        <li class="row">
                            <div class="col-xs-4">Sq Ft:</div>
                            <div class="col-xs-8">{{ entry.squareFeet }}</div>
                        </li>
                        <li class="row">
                            <div class="col-xs-4">Beds:</div>
                            <div class="col-xs-8">{{ entry.beds }}</div>
                        </li>
                        <li class="row">
                            <div class="col-xs-4">Baths:</div>
                            <div class="col-xs-8">{{ entry.baths }}</div>
                        </li>
                        <li class="row">
                            <div class="col-xs-4">Type:</div>
                            <div class="col-xs-8">{% if entry.propertyType|length %}{{ entry.propertyType.first }}{% else %}Single Family{% endif %}</div>
                        </li>
                        <li class="row">
                            <div class="col-xs-4">Parking:</div>
                            <div class="col-xs-8">{{ entry.parking }}</div>
                        </li>
                                     </ul>
                    {% if entry.communityInformationPdf | length %}<a href="{{ entry.communityInformationPdf }}" target="_blank" class="button sm-button">What is nearby? <i class="fa fa-share"></i></a>{% endif %}

                    <div class="row prev-next">
                        <div class="col-xs-6 prev">
                            {% if prevProperty %}
                                <a href="{{ prevProperty.url }}">View Previous listing
                                    <span>{{ prevProperty.address.street1 }}</span></a>
                            {% endif %}
                        </div>
                        <div class="col-xs-6 next">
                            {% if nextProperty %}
                                <a href="{{ nextProperty.url }}">View Next Listing
                                    <span>{{ nextProperty.address.street1 }}</span></a>
                            {% endif %}
                        </div>
                        <div class="col-xs-12">
                            <a href="{{ url('listings') }}" class="view-all">Return to all listings</a>
                        </div>
                    </div>
                    {% if entry.listingAgent | length %}
                    <div class="agent-meta">
                        <h4>Listing Agent:</h4>
                        <div class="row">
                            <div class="col-xs-8">
                                <p><strong>{{ agent.name }}</strong><br>
                                    <i class="fa fa-phone"></i> {{ agent.profilePhoneNumber}}<br>
                                    <a href="mailto:{{ agent.email }}"><i class="fa fa-envelope"></i> {{ agent.email }}</a>
                                </p>

                                
                            </div>
                            <div class="col-xs-4">
                                <a href="/agents/{{ agent.name | replace(' ','') | lower }}"><img src="{{ agent.photoUrl('original') }}" alt="{{ agent.name }}"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p>
                                    <a href="/agents/{{ agent.name | replace(' ','') | lower }}"><em>See more of {{ agent.firstName}}'s listings</em></a></p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}

                    {% from _self import errorList %}

                    <form id="listingInfoRequestForm" action="" method="post" class="main-form" accept-charset="utf-8">
                        {{ getCsrfInput() }}

                        <input type="hidden" name="action" value="listingInquiries/saveInquiry"/>

                        <p>Questions About this property?</p>
                        <small>*indicates a required field</small>

                        <input type="hidden" name="mlsNumber" value="{{ entry.mlsNumber }}">
                        <input type="hidden" name="listingAgent" value="{{ agent.email }}">
                        <input type="text" id="firstName" name="firstName" required name="first name"
                               placeholder="First Name*">
                        <input type="text" id="lastName" name="lastName" required name="last name"
                               placeholder="Last Name*">

                        <div class="row">
                            <div class="col-sm-6">
                                <input type="email" required id="email" name="email" placeholder="email*">
                            </div>
                            <div class="col-sm-6">
                                <input type="tel" id="phone" name="phone" placeholder="phone">
                            </div>
                        </div>

                        <textarea name="comment" id="comment" placeholder="message"
                                  cols="30" rows="10"></textarea>

                        <input type="submit" value="Send Along" class="button">
                    </form>

                    <div id="listingStatus">
                        <div class="text-center">
                            <div id="listingStatusMessage"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    {% if entry.videoUrl|length %}
        <section class="tour">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-sm-3">
                        <h1>House Tour</h1>
                    </div>
                    <div class="col-sm-9">
                        <style>.embed-container {
                                position: relative;
                                padding-bottom: 56.25%;
                                height: 0;
                                overflow: hidden;
                                max-width: 100%;
                                height: auto;
                            }

                            .embed-container iframe, .embed-container object, .embed-container embed {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }</style>
                        <div class='embed-container'>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ entry.videoUrl }}?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if entry.matterportUrl|length %}
        <section class="tour">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-sm-3">
                        <h1>Virtual Tour</h1>
                    </div>
                    <div class="col-sm-9">
                        <style>.embed-container {
                                position: relative;
                                padding-bottom: 56.25%;
                                height: 0;
                                overflow: hidden;
                                max-width: 100%;
                                height: auto;
                            }

                            .embed-container iframe, .embed-container object, .embed-container embed {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                            }</style>
                        <div class='embed-container'>
                            <iframe width='100%' height='480'
                                    src='https://my.matterport.com/webgl_player/#model={{ entry.matterportUrl }}'
                                    frameborder='0'
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}


<!--     {% set mapOptions = {
    'height': 400,
    'width': 400,
    'zoom': 12,
    'markerInfo': '_includes/mapInfoBubble',
    'infoWindowOptions': {
    'maxWidth': 200
    }
    } %} -->
    <section class="map">
        <div id="map">

        </div>

          <script>

            var address = '{{ entry.address.street1 }} {{ entry.address.city }}, IA';

            var styles = [{"featureType":"all","elementType":"geometry","stylers":[{"visibility":"simplified"},{"hue":"#ff7700"}]},{"featureType":"administrative","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"administrative.country","elementType":"labels.text.fill","stylers":[{"color":"#1d1d1d"}]},{"featureType":"administrative.province","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"},{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"labels.text.stroke","stylers":[{"color":"#da2a32"},{"weight":"5.00"},{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#787878"},{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"visibility":"on"},{"weight":"5.00"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#2d2d2d"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"visibility":"on"},{"weight":"5.00"}]},{"featureType":"administrative.land_parcel","elementType":"geometry.fill","stylers":[{"saturation":"64"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#fdfdfd"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#2c2c2c"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#d5d5d5"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"on"},{"color":"#ff0000"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#da2a32"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":"5.00"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#fb1717"},{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#da2a32"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#da2a32"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d9d9d9"},{"visibility":"on"}]},{"featureType":"transit.station","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"visibility":"simplified"},{"lightness":"4"},{"saturation":"-100"}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#e1e1e1"},{"visibility":"on"}]}],
        geocoder = new google.maps.Geocoder();
           var map = new google.maps.Map(document.getElementById('map'), { 
                mapTypeId: google.maps.MapTypeId.road,
                zoom: 12,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                styles: styles
           });

           geocoder.geocode({
              'address': address
           },

           function(results, status) {
              if(status == google.maps.GeocoderStatus.OK) {
                 new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    icon: '../resources/img/marker.png'
                 });
                 map.setCenter(results[0].geometry.location);
              }
           });
           google.maps.event.addDomListener(window, "resize", function() {
             var center = map.getCenter();
             google.maps.event.trigger(map, "resize");
             map.setCenter(center); 
            });

      </script>
    </section>

    {% set related = craft.entries.section('listing').limit(3) %}
    {% if related|length %}
        <section class="related">
            <div class="hero-content">
                <div class="wrap container-fluid">
                    <h1>Similar Listings</h1>

                    <div class="house-slider">
                        <ul class="row house-cards slides">
                            {% for property in related %}
                                {% if property.address.city == entry.address.city %}
                                    <li>
                                        <div class="col-sm-4 property">
                                            <div class="card">
                                                <a href="{{ property.url }}">
                                                    <div class="img-contain  {{ entry.saleStatus  }}">
                                                        {% set image = property.featuredImages.first() %}
                                                        <img src="{{ image.getUrl('featuredImageThumbnail') }}"
                                                             width="{{ image.getWidth('featuredImageThumbnail') }}"
                                                             height="{{ image.getHeight('featuredImageThumbnail') }}"
                                                             alt="">
                                                             <div class="overlay"></div>
                                                    </div>
                                                    <div class="meta">
                                                        <div class="cf">
                                                            <h2>{{ property.address.street1 }}
                                                                <span>   {{ property.address.city }}</span></h2>
                                                        </div>
                                                        <ul>
                                                            <li>{{ property.squareFeet }} Sq Ft</li>
                                                            <li>{{ property.beds }}
                                                                Bedroom{{ (entry.beds > '1') ? 's' : '' }}</li>
                                                            <li>{{ property.baths }}
                                                                Bath{{ (entry.beds > '1') ? 's' : '' }}</li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="" class="{{ url('listings') }}">See all listings</a>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
