{#
 # Listings home template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/listings is requested.
 #
 #}

{% extends '_layouts/default' %}
{% set title = entry.title %}
{% set bodyClass = 'listings interior' %}

{% block content %}

    {# Get the hero image. #}
    {% set heroImage = entry.heroImage.first() %}
    <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row filters">
                <div class="col-sm-6">
                    <p><span class="filter" data-filter="all">All</span> | <span class="filter" data-filter=".available">Available</span></p> 
                </div>
                <div class="col-sm-6 ascDesc">
                    <p>Sort by price: <span data-sort="value:desc" class="sort sortDesc">Highest to lowest</span> | <span data-sort="value:asc" class="sort sortAsc">Lowest to highest</span></p>
                </div>
            </div>

            <ul class="row house-cards listingsList">
                {% for entry in craft.entries.section('listing').saleStatus('not sold') %}
                    <li data-value="{{ entry.price | replace({',' : '', '$' : ''}) }}" class="mix {{ entry.saleStatus  }} col-sm-4">
                        <div class=" property ">
                            <div class="card">
                                <a href="{{ entry.url }}">
                                    <div class="img-contain {{ entry.saleStatus  }}">
                                        {% set image = entry.featuredImages.first() %}
                                        <img src="{{ image.getUrl('featuredImageThumbnail') }}"
                                             width="{{ image.getWidth('featuredImageThumbnail') }}"
                                             height="{{ image.getHeight('featuredImageThumbnail') }}"
                                             alt="">
                                        <div class="overlay">
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <div class="cf">
                                            <h2>{{ entry.address.street1 }} <span>{{ entry.address.city }}</span></h2>

                                                {% switch entry.saleStatus %}
                                                {% case 'available' %}
                                                <h2 class="price">
                                                ${{ entry.price }}
                                                </h2>
                                                {% case 'pending' %}
                                                <h2 class="price pending">
                                                Pending
                                                </h2>
                                                {% case 'sold' %}
                                                 <h2 class="price Sold">
                                                Sold
                                                </h2>
                                                {% default %}
                                                {# Default value. #}
                                                {% endswitch %}
                                        </div>
                                        <ul>
                                            <li>{{ entry.squareFeet }} Sq Ft</li>
                                            <li>{{ entry.beds }} Bedroom{{ (entry.beds > '1') ? 's' : '' }}</li>
                                            <li>{{ entry.baths }} Bath{{ (entry.beds > '1') ? 's' : '' }}</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% for entry in craft.entries.section('listing').saleStatus('sold') %}
                    <li data-value="{{ entry.price | replace({',' : '', '$' : ''}) }}" class="mix {{ entry.saleStatus  }} col-sm-4">
                        <div class=" property ">
                            <div class="card">
                                <a href="{{ entry.url }}">
                                    <div class="img-contain {{ entry.saleStatus  }}">
                                        {% set image = entry.featuredImages.first() %}
                                        <img src="{{ image.getUrl('featuredImageThumbnail') }}"
                                             width="{{ image.getWidth('featuredImageThumbnail') }}"
                                             height="{{ image.getHeight('featuredImageThumbnail') }}"
                                             alt="">
                                        <div class="overlay">
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <div class="cf">
                                            <h2>{{ entry.address.street1 }} <span>{{ entry.address.city }}</span></h2>

                                                {% switch entry.saleStatus %}
                                                {% case 'available' %}
                                                <h2 class="price">
                                                ${{ entry.price }}
                                                </h2>
                                                {% case 'pending' %}
                                                <h2 class="price pending">
                                                Pending
                                                </h2>
                                                {% case 'sold' %}
                                                 <h2 class="price Sold">
                                                Sold
                                                </h2>
                                                {% default %}
                                                {# Default value. #}
                                                {% endswitch %}
                                        </div>
                                        <ul>
                                            <li>{{ entry.squareFeet }} Sq Ft</li>
                                            <li>{{ entry.beds }} Bedroom{{ (entry.beds > '1') ? 's' : '' }}</li>
                                            <li>{{ entry.baths }} Bath{{ (entry.beds > '1') ? 's' : '' }}</li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
