{#
 # Agent page template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/agent/* is requested.
 #
 #}

{% extends "_layouts/agent" %}

{% set bodyClass = 'team interior partners agent-page' %}

{% block content %}

    <section class="content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 main-content">
                        <article class="row">
                                
                                    {% if agent.photoUrl|length %}
                                    <div class="col-sm-4">
                                        <div class="agent-meta-information">
                                    
                                            <img src="{{ agent.photoUrl('original') }}" alt="">

                                            <ul class="meta">
                                                    
                                                    {% if agent.profilePhoneNumber|length %}
                                                        {% set phoneAnchor = agent.profilePhoneNumber|replace({'(': '', ')': '', ' ': '', '-':''}) %}
                                                        <li>
                                                            <i class="fa fa-phone"></i>
                                                            <a href="tel:+1{{ phoneAnchor }}">{{ agent.profilePhoneNumber }}</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if agent.email|length %}
                                                    <li>
                                                        <i class="fa fa-envelope"></i>
                                                        <a href="mailto:{{ agent.email }}">{{ agent.email }}</a>
                                                    </li>
                                                    {% endif %}

                                            </ul>
                                            <ul class="meta social-accounts list-inline">
                                                {% if agent.facebookProfile | length %}
                                                    <li>
                                                        
                                                        <a href="{{ agent.facebookProfile }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if agent.twitterProfile | length %}
                                                    <li>
                                                        
                                                        <a href="{{ agent.twitterProfile }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if agent.instagramProfile | length %}
                                                    <li>
                                                        
                                                        <a href="{{ agent.linkedinProfile }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                {% endif %}
                                                {% if agent.instagramProfile | length %}
                                                    <li>
                                                        
                                                        <a href="{{ agent.instagramProfile }}" target="_blank"><i class="fa fa-instagram"></i></a>
                                                    </li>
                                                {% endif %}

                                            </ul>
                                            <a href="#contactAgent" class="button">Contact {{ agent.firstName }}</a>
                                        </div>

                                        
                                    </div>
                                    {% endif %}

                                    <div class="{% if agent.photoUrl|length %}col-sm-8{% endif %} col-xs-12">
                                        <h1>{{ agent.name }}</h1>
                                        <span class="title">{{ agent.positionTitle }}</span>
                                        
                                        {{ agent.fullBio }}
                                    </div>
                        </article>
                        {% set params = {
                                
                                section: 'listing',
                                relatedTo: agent

                            }
                        %}

                        {% set listings = craft.entries(params) %}
                        <div class="agent-listings" id="agentListings">
                        {% if listings | length %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>{{ agent.firstName}}'s Listings</h2>
                                </div>
                            </div>
                         
                            <ul class="row house-cards">
                                {% for listing in listings %}
                                    
                                <li class="col-sm-4">
                                    <div class="property">
                                        <div class="card">
                                            <a href="{{ listing.url }}">
                                                <div class="img-contain  {{ listing.saleStatus }}">
                                                    {% set image = listing.featuredImages.first() %}
                                                    <img src="{{ image.getUrl( 'homepageThumbnail' ) }}">

                                                    <div class="overlay"></div>
                                                </div>
                                                <div class="meta">
                                                    <div class="cf">
                                                        <h2>{{ listing.address.street1 }}
                                                            <span>{{ listing.address.city }}</span>
                                                        </h2>
                                                    </div>
                                                    <ul>
                                                        <li>{{ listing.squareFeet }}</li>
                                                        <li>
                                                            {{ listing.beds }}
                                                            Bedroom{{ (listing.beds > '1') ? 's' : '' }}
                                                        </li>
                                                        <li>
                                                            {{ listing.baths }}
                                                            Bath{{ (listing.beds > '1') ? 's' : '' }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>No current listings</h3>
                                    
                                </div>
                            </div>
                        {% endif %}
                        </div>
                        

                </div>
            </div>
        </div>
    </section>
    <section class="contact-agent">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <div id="contactAgent">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h2>Contact {{ agent.firstName }}</h2>
                                    <form class="row main-form" id="agentForm" action="POST" accept-charset="UTF-8">
                                        {{ getCsrfInput() }}
                                        <input type="hidden" name="action" value="contactForm/sendMessage">

                                        <input id="subject" type="hidden" name="subject" value="New Message From Agent Page">
                                        
                                        <input type="hidden" name="toEmail" value="{{ agent.email|hash }}">

                                        <input id="favoriteKitten" type="text" style="position:absolute; left:-9999px" name="favoriteKitten">

                                        <div class="col-xs-12 col-sm-6"><label for="First Name">First Name</label><input type="text" name="message[First Name]" id="firstName"></div>
                                        <div class="col-xs-12 col-sm-6"><label for="Last Name">Last Name</label><input type="text" name="message[Last Name]" id="LastName"></div>
                                        <div class="col-xs-12 col-sm-6"><label for="Phone Number">Phone Number</label><input type="text" name="message[Phone Number]" id="LastName"></div>
                                         <div class="col-xs-12 col-sm-6"><label for="Email Address">Email Address</label><input type="text" name="fromEmail" id="LastName"></div>
                                          <div class="col-xs-12 col-sm-6"><label for="Property Inquiry">Listing Inquiry</label>
                                            <select name="message[Property Inquiry]" id="">
                                                <option value="default" selected disabled class="disabled" >- Select a Listing of Mine (optional) -</option>
                                                {% for listing in listings %}
                                                <option value="{{ listing.address.street1 }}, {{ listing.address.city }}">{{ listing.address.street1 }}, {{ listing.address.city }}</option>
                                                {% endfor %}

                                            </select>
                                          </div>
                                          <div class="col-xs-12 col-sm-6"><label for="Contact Method">Preferred Method of Contact</label>
                                            <select name="message[Contact Method]" id="">
                                                <option value="default" selected disabled class="disabled" >- Select an Option (optional) -</option>
                                                <option value="Email">Email</option>
                                                <option value="Text Message">Text Message</option>
                                                <option value="Phone Call">Phone Call</option>
                                            </select>
                                          </div>
                                          <div class="col-xs-12">
                                            <label for="Message">Brief Messsage</label>
                                              <textarea name="message[body]" id="message" rows="10" placeholder="How can I help you?"></textarea>
                                          </div>
                                          <div class="col-xs-12 col-sm-4">
                                              <input type="submit" value="Send Along">
                                          </div>

                                    </form>
                                    <div class="col-xs-12 text-center" id="thank-you">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                                                <br><br>
                                                <h4>Thank you for reaching out!</h4>
                                                <p>I've received your message and will get back to you shortly.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
