{#
 # Default layout template.
 # ---------------
 #
 #}

<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if entry.title is defined and entry.sectionId != 1 %}{{ entry.title|title }} &ndash; {% elseif title is defined %}{{ title|title }} &ndash; {% endif %} {{ siteName }}</title>

    <meta name="description" content="{{ entry.title }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta property="og:title" content="{{ entry.address.street1 }} | {{ entry.address.city }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ entry.title }}"/>
    <meta property="og:url" content="{{ url(craft.request.path) }}"/>
    {% set ogHero = entry.featuredImages.first() %}
    <meta property="og:image" content="{{ siteUrl|trim('/') }}{{ ogHero.getUrl( 'ogImage' ) }}"/>
    <meta property="og:site_name" content="{{ siteName }}"/>

    <link rel="canonical" href="{{ url(craft.request.path) }}"/>

    <link rel="icon" href="/resources/img/favicon.png" type="image/png">

    <link rel="stylesheet" href="/resources/css/production.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,400italic">

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/resources/css/fallback.css">
    <link rel="stylesheet" href="/resources/css/ie8.css">
    <![endif]-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3"></script>
    

    <script src="/resources/js/vendor/require.js" data-main="/resources/js/app.config"></script>
    
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{officeInformation.GA}}', 'auto');
          ga('send', 'pageview');

        </script> 
        <script src="//load.sumome.com/" data-sumo-site-id="7fc0040af2d7130343ccaad1959032a7b19072c0e772f587eb90a51a8e6759f6" async="async"></script>     
</head>

<body {% if bodyClass is defined %} class="{{ bodyClass }}" {% endif %}>
{% include '_includes/main-nav' %}
{% block content %}
{% endblock %}
{% include '_includes/footer' %}

</body>
</html>