{% extends "_layouts/cp" %}

{% if contactId is not defined %}{% set contactId = null %}{% endif %}
{% set title = "Listing Inquiries"|t %}
{% set content %}

    <div class="tableview">
        {% if contactId %}
            {% set contact = craft.listinginquiries.getInquiry(contactId) %}

            <h2>{{ contact.firstName }} {{ contact.lastName }}</h2>

            <table id="listingInquiriesTable" class="data fullwidth">
                <thead></thead>
                <tfoot></tfoot>
                <tbody>
                <tr>
                    <td>Email:</td>
                    <td>
                        <a href="mailto:{{ contact.email }}?subject=Greetings From {{ siteName }}">{{ contact.email }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Property Interest:</td>
                    <td>MLS#: {{ contact.mlsNumber }}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                {% if contact.comment|length %}
                    <tr>
                        <td>Comments:</td>
                        <td>{{ contact.comment }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Submitted:</td>
                    <td>{{ contact.dateCreated|date("m/d/Y") }}</td>
                </tr>
                </tbody>
            </table>

            <p><a href="{{ url('listinginquiries') }}">Go back to all Inquiries</a></p>

        {% else %}
            <h3>Nobody here by that name.</h3>
        {% endif %}
    </div>
{% endset %}