{#
 # 404 template
 # ------------
 #
 # This template is loaded whenever Craft cannot figure out how to
 # respond to an incoming request.
 #
 #}

{% extends "_layouts/default" %}
{% set title = "404" %}

 {% block content %}

     <section class="content">
         <div class="container-fluid wrap">
             <div class="row">
                 <div class="col-xs-12 main-content">
                     <h1>Page not found</h1>

                     <p>What's worse, a hilarious 404 page can't be found either.</p>
                 </div>
             </div>
         </div>
     </section>
 {% endblock %}

