{#
 # Contact template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/contact is requested.
 #
 #}

{% extends "_layouts/default" %}
{% set title = entry.title %}

{% block content %}
    <h1>{{ entry.title }}</h1>

    <h3>{{ siteName }}</h3>
    <p>{{ officeInformation.officeTitle }}<br>
        {{ officeInformation.address.street1 }}, {{ officeInformation.address.city }}
        , {{ officeInformation.address.state }} {{ officeInformation.address.zip }}
    </p>

    {% set officePhoneAnchor = officeInformation.officePhone|replace({'(': '', ')': '', ' ': '', '-':''}) %}

    <p>Phone: <a href="tel:+1{{ officePhoneAnchor }}">{{ officeInformation.officePhone }}</a></p>

    {{ entry.body }}
{% endblock %}
