{#
 # Homepage template
 # ---------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/ has been requested.
 #
 #}

{% extends "_layouts/home" %}

{% block content %}
    <section class="hero-controls">
       {# <div class="controls">
            <a href="#buyer" class="button active" aria-controls="buyer" role="tab" data-toggle="tab">I am a buyer</a>
            <a href="#seller" class="button" aria-controls="seller" role="tab" data-toggle="tab">I am a seller</a>
        </div> #}

        <div class="tab-content">

            {# Get the hero image for the buyers section. #}
            {% set buyerHeroImage = entry.buyerHeroImage.first() %}

            <div role="tabpanel" style="background-image:url('{{ buyerHeroImage.url( 'hero' ) }}')"
                 class="tab-pane hero active fade in" id="buyer">
                <div class="hero-content">
                    <div class="wrap container-fluid">
                        <h1>Featured Listings</h1>

                        <div class="house-slider">
                            <ul class="row house-cards slides">

                                {# Get latest 3 entires from the property section to create the slider. #}
                                {% for entry in craft.entries.section('listing').saleStatus('not sold').featureOnHomePage('1').order('RAND()').limit(3) %}
                                    <li>
                                        <div class="col-sm-4 property">
                                            <div class="card">
                                                <a href="{{ entry.url }}">
                                                    <div class="img-contain  {{ entry.saleStatus }}">
                                                        {% set image = entry.featuredImages.first() %}
                                                        <img src="{{ image.getUrl( 'homepageThumbnail' ) }}">

                                                        <div class="overlay"></div>
                                                    </div>
                                                    <div class="meta">
                                                        <div class="cf">
                                                            <h2>{{ entry.address.street1 }}
                                                                <span>{{ entry.address.city }}</span>
                                                            </h2>
                                                        </div>
                                                        <ul>
                                                            <li>{{ entry.squareFeet }}</li>
                                                            <li>
                                                                {{ entry.beds }}
                                                                Bedroom{{ (entry.beds > '1') ? 's' : '' }}
                                                            </li>
                                                            <li>
                                                                {{ entry.baths }}
                                                                Bath{{ (entry.beds > '1') ? 's' : '' }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <a href="{{ url('listings') }}" class="button">See all listings</a>
                    </div>
                </div>
            </div>

            {# Get the hero image for the sellers section. 
            {% set sellerHeroImage = entry.sellerHeroImage.first() %}

            <div role="tabpanel" style="background-image:url('{{ sellerHeroImage.url( 'hero' ) }}')"
                 class="tab-pane fade hero"
                 id="seller">
                <div class="hero-content">
                    <div class="wrap container-fluid">
                        <h1>Three ways to list your home!</h1>

                        <div class="row">
                            {% for option in craft.categories.group('waysToSell').limit(3) %}
                                <div class="col-sm-4 plan-cards">
                                    <header class="cd-pricing-header">
                                        <h2>{{ option.title }}</h2>

                                        <div class="cd-price">
                                            <p>commission % <span>{{ option.optionCommission }}</span></p>
                                        </div>
                                    </header>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="cf">
                            <a href="{{ url('sellers') }}" class="button">List your home with us</a>
                        </div>
                    </div>
                </div>
            </div> #}
        </div>
    </section>
    {# <section class="seller-plans">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-title"><span>two ways to</span>list your home</h2>

                    <div class="row">
                        {% for option in craft.categories.group('waysToSell').limit(2) %}
                        <div class="plan-contain">
                            <div class="plan">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <h2>{{ option.optionCommission }}%</h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-8">
                                        <h5>{{ option.title }}</h5>
                                        <p>{{ option.optionDescription }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a href="{{ url('sellers') }}" class="button text-center">List your home with us</a>

                </div>
            </div>
        </div>
    </section> #}

    <section class="calc">
        
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title"><span>same benefits,</span>while costing you much less!</h2>
                </div>
                <div class="col-xs-12 text-center">
                    <h3>Your Home Value:</h3>
                </div>
                <div class="col-xs-12">
                  
                    <div id="savingsSlider" class="dragdealer">
                        <div class="handle">
                          <p>$<span class="value"></span></p>
                        </div>
                      </div>
                 

                </div>
                
            </div>
            <div class="row text-center savings">
                <div class="col-xs-6 col-md-6">
                    <div class="range-slider-content">
                        <h5>Traditional 7%</h5>
                        <h4 id="traditionalSellFee">$<span></span></h4>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="range-slider-content">
                        <h5>$2495 flat fee plus 3% to buyer's agent</h5>
                        <h4 id="charterHouseFee"><img src="/resources/img/price-icon.jpg" alt="">&nbsp;&nbsp;$<span></span></h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="range-slider-content your-savings">
                        <br><br>
                        <h2>Charter House can save you up to<br><strong>$<span id="yourSavings"></span><sup>*</sup></strong></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <br><br>
                    <p><img src="resources/img/charterhouse-listing.jpg" alt=""></p>
                </div>
            </div>

        </div>
    </section>

    <section class="working">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title"><span>What you get</span>working with us</h2>

                    <div class="row">

                        {# Loop through the matrix block. #}
                        {% for block in entry.buyerContentBuilderMatrix %}
                            <div class="col-sm-4">
                                {% switch block.type %}
                                {% case 'buyerContent' %}

                                {% set icon = block.icon.first() %}
                                {% if icon|length %}
                                    <img src="{{ icon.getUrl() }}" width="{{ icon.getWidth() }}"
                                         height="{{ icon.getHeight() }}" alt="">
                                {% endif %}

                                {% if block.headline|length %}
                                    <h3>{{ block.headline }}</h3>
                                {% endif %}

                                {% if block.bodyCopy|length %}
                                    {{ block.bodyCopy }}
                                {% endif %}

                                {% endswitch %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid wrap">
        <hr>
    </div>

    <section class="testimonials">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="section-title"><span>see what our clients</span>are saying about us</h2>

                    <div class="flexslider">
                        <ul class="slides">

                            {#
                             # Get five random testimonials (categories).
                             # We also want to limit the characters to 300.
                             #
                             #}
                            {% for category in craft.categories.group('testimonials').order('RAND()').limit(5) %}
                                <li class="row">
                                    {% set image = category.testimonialImage.first() %}
                                    <div class="col-sm-4 col-sm-push-8">
                                        <div class="img-contain">
                                          {#  <img src="{{ image.getUrl('testimonialThumbnail') }}"
                                                 width="{{ image.getWidth('testimonialThumbnail') }}"
                                                 height="{{ image.getHeight('testimonialThumbnail') }}"
                                                 alt="{{ category.attribution }}"> #}
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-sm-pull-4">
                                        <div class="testimonial-content">

                                            {{ category.body|striptags|slice(0, 300) }}&hellip;<a class="readMore" href="/reviews">Read More</a>
                                            <p class="byline">{{ category.attribution }}</p>

                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <a href="{{ url('reviews') }}">Read all of our client reviews</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}