{#
 # Sellers template
 # -------------------
 #
 # This template gets loaded whenever http://www.charterhouseiowa.com/sellers is requested.
 #
 #}

 {% extends '_layouts/default' %}

 {% set title = entry.title %}
 {% set bodyClass = 'sellers interior' %}

 {% block content %}

 {# Get the hero image. #}
 {% set heroImage = entry.heroImage.first() %}
 <section class="hero" style="background-image:url('{{ heroImage.url( 'hero' ) }}')"></section>

 <section class="content">
    <div class="container-fluid wrap">
        <div class="row">
            <div class="col-xs-12">
                {# Include the matrix filed for more awesome layout power. #}
                {% include 'modules/_matrix' %}
            </div>
        </div>

    </section>
    <section class="seller-plans seller-plans-page">
        <div class="container-fluid wrap">
            <div class="row plans">
                <div class="col-xs-12 text-center cd-pricing">
                    {# Loop though the ways to sell categories. #}
                    {% for option in craft.categories.group('waysToSell').limit(2) %}
                        <div class="plan-contain {% if loop.last %}last{% endif %}">
                            <div class="plan" data-description="{{ option.optionDescription }}"
                            data-plan="{{ option.title }}" {% if loop.index == 1 %}data-position="first"{% elseif loop.index == 2 %}data-position="second"{% elseif loop.index == 3 %}data-position="third"{% endif %}>
                                    <header class="cd-pricing-header">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 cd-price">
                                                <h2>{{ option.optionCommission }}%</h2>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 plan-content">
                                                <h5>{{ option.title }}</h5>
                                                <p>{{ option.optionDescription }}</p>
                                            </div>
                                        </div>
                                    </header>
                                    <div class="cd-pricing-features">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p><strong>Plan Includes:</strong></p>
                                                <ul>
                                                    {% for row in option.optionBenefits %}
                                                        <li {{ (row.available) ? 'class="available"' : '' }} >
                                                            <em>{{ row.feature }}</em></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cd-pricing-footer">
                                        <a href="javascript:void(0);">Select</a>
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="cd-form">
                        <div class="cd-plan-info"></div>

                        <div id="sellerStatus">
                            <div class="text-center">
                                <div id="sellerStatusMessage"></div>
                            </div>
                        </div>

                        <form action="" id="sellersForm" class="main-form" action="" method="post" accept-charset="utf-8">
                            <input type="hidden" class="form-value" name="plan" id="plan" value="">
                            <input type="hidden" name="action" value="sellers/saveSeller"/>

                            {{ getCsrfInput() }}

                            {% macro errorList(errors) %}
                            {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endmacro %}

                            {% from _self import errorList %}

                            <div class="form-content" id="description">
                                <p></p>
                                {#<div id="sellerStatus">#}
                                {#<div class="text-center">#}
                                {#<div id="sellerStatusMessage"></div>#}
                                {#</div>#}
                                {#</div>#}
                            </div>

                            <fieldset>
                                <h3>Get Started with the <span></span></h3>
                                <hr>
                                <div class="half-width">
                                    <label for="firstName">First Name</label>
                                    <input type="text" id="firstName" name="firstName">
                                </div>

                                <div class="half-width">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" id="last-name" name="lastName">
                                </div>

                                <div class="half-width">
                                    <label for="email">Email Address</label>
                                    <input type="email" id="email" name="email">
                                </div>

                                <div class="half-width">
                                    <label for="phone">Phone Number</label>
                                    <input type="text" id="phone" name="phone">
                                </div>
                            </fieldset>


                            <fieldset>
                                <div>
                                    <input onClick="ga('send', 'event', { eventCategory: 'Seller Get Started Form', eventAction: 'click', eventLabel: 'seller'});" type="submit" class="button" value="Get started">
                                </div>
                            </fieldset>
                            <div class="form-content">
                                <hr>
                                <h3>Have Questions?</h3>

                                <p>Feel free to give us a call at 515.864.6444. We would be more than willing to help
                                    out!</p>
                                </div>
                            </form>

                            <a href="javascript:void(0);" class="cd-close"></a>
                        </div>
                        <div class="cd-overlay"></div>

                    </div>
                    <div class="col-xs-12 text-center">
                        <p>
                        <img src="resources/img/seller-image.jpg" alt="">
                            
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container-fluid wrap">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="section-title"><span>see the results of customers</span>who sold with us</h2>

                        <div class="flexslider">
                            <ul class="slides">

                                {#
                                # Get five random testimonials (categories).
                                # We also want to limit the characters to 300.
                                #
                                #}
                                {% for category in craft.categories.group('testimonials').order('RAND()').limit(5) %}

                                {% if category.buyerOrSeller == 'seller' %}
                                <li class="row">
                                    {% set image = category.testimonialImage.first() %}
                                    <div class="col-sm-4 col-sm-push-8">
                                        <div class="img-contain">
                                            <img src="{{ image.getUrl('testimonialThumbnail') }}"
                                            width="{{ image.getWidth('testimonialThumbnail') }}"
                                            height="{{ image.getHeight('testimonialThumbnail') }}"
                                            alt="{{ category.attribution }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-sm-pull-4">
                                        <div class="testimonial-content">

                                            {{ category.body|striptags|slice(0, 300) }}&hellip;
                                            <p class="byline">{{ category.attribution }}</p>

                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                        <a href="{{ url('reviews') }}">Read all of our client reviews</a>
                    </div>
                </div>
            </div>
        </section>



        {% endblock %}
