.mainnav {
	padding:2em 0;
	@include transition(all .5s);
	background: white;
	box-shadow:0 2px 3px rgba(black,.3);
	position: relative;
	z-index:1000;
	.wrap {
		max-width:1100px;
	}
	ul{
		float:right;
		li {
			float:left;
			font-size: 12px;
			&.active {
				a {
					color:$secondary;
				}
			}
			a {
				font-size: 12px;
				padding:1.5em 1em;
				line-height: 2.5;
				text-transform:uppercase;
				color:$primary;
				&:visited {
					color:$primary;
				}
				&:hover{
					color:$secondary;
				}
			}
		}
	}
}


.tophat {
  position:fixed;
  width:100%;
  top:0;
  z-index:50;
  background:$secondary;
  padding:.5em 0;
  .wrap {
    max-width:1100px;
  }
  .col-xs-6 {
    .social {
      float:right;
      a {
        font-size: 14px;
      }
    }
  }
  ul {
    margin:0;
    padding:0;
    li {
      p,a,strong{
        margin:0;
        color:white;
        font-size: 11px;

      }
      display: inline;
    }
  }
}