/**
 * Dragdealer.js 0.9.8
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */

.savings {
  margin-top: 10em;
}

.left-sign {
  width: 7%;
  float: left;
}

.right-sign {
  width: 10%;
  float: left;
}

.dragdealer {
  position: relative;
  height: 3px;
  background: $secondary;
  width: 60%;
  left: -14px;
  margin: {
    top:40px;
    left:auto;
    right:auto;
  }
  @include viewport(md){
    width:80%;
    left:0;
  }
  &:before, &:after {
    color:$secondary;
    font-size: 24px;
    position: absolute;
    top: -16px;
    display: inline-block;
    width:15%;
    font-weight: 800;
    @include viewport(md){
      width:10%;
    }
  }
  &:before {
    left: -22%;
    content:"$0";
    text-align: right;
    @include viewport(md){
    left: -12%;

    }
  }
  &:after {
    right: -22%;
    content:"$1mil";
    text-align: left;
    @include viewport(md){
    right: -12%;

    }
  }
}

.range-slider-content {
  h5 {
    color:$primary;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 25px;
    @include viewport(md){
      font-size: 35px;
    }
    &#charterHouseFee {
      color:$secondary;
      img{
        @media (max-width:991px){
          width:30px;
          height:auto;
        }
      }
    }
  }

}

.dragdealer .handle {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  width:30px;
  @include viewport(md){
    width:10px;
  }

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  p {
    position: relative;
    font-family: $heading;
    color: $secondary;
    font-size: 22px;
    text-align: center;
    left: 50%;
    transform:translateX(-170%);
    margin-top:-15px;
    @include viewport(md) {
      font-size: 34px;
      transform:translateX(-400%);


    }
  }
  &:before {
    content: "";
    width: 30px;
    height: 30px;
    top: -15px;
    border-radius:90px;
    background:$secondary;
    position: relative;
    display: inline-block;
  }
}

.your-savings {
  h2 {
    color:$primary;
    font-size: 18px;
    @include viewport(md){
      font-size:30px;
    }
  }
  strong{
    font-size:60px;
    @include viewport(md){
      font-size:80px;
    }
    color:green;
    sup {
      font-size: 24px;
      top:-40px;
    }
  }
}
