body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $secondary;
  text-transform: uppercase;
  font-weight: 600;
  margin:0 0 16px;
}

h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: $dark-gray;
  @include viewport(sm){
    font-size: 45px;
  }
}

h2.section-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 2em;
  span {
    font-size: 18px;
    font-weight: 100;
    text-transform: lowercase;
    color:$primary;
    display: block;
  }
}

hr {
  border-color:$neutral;
}
h4 {
  color:$primary;
}

.pagetitle {
  margin-bottom: 2em;
  color:$secondary;
  span {
    font-size: 80%;
    font-weight: 100;
  }
}


/* PARAGRAPH */

p {
  
  line-height: 1.6;
  margin-bottom: 1em;
}

li,p,a {
  font-family: $body;
  font-size: 14px;
  color:$primary;
}
.main-content {
  .house-cards {
    list-style:none;
    padding:0;
    margin: 2em -15px 2em;
    li {
      list-style: none;
    }
    .property {
      padding:0;
    }
  }
  ul {
    padding-left: 30px;
    margin:1em;
    list-style-type: disc;
    li {
      list-style-type: disc;
    }
  }
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none !important;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$secondary;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b2a9t2');
  src:  url('../fonts/icomoon.eot?b2a9t2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?b2a9t2') format('woff2'),
    url('../fonts/icomoon.ttf?b2a9t2') format('truetype'),
    url('../fonts/icomoon.woff?b2a9t2') format('woff'),
    url('../fonts/icomoon.svg?b2a9t2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-left:before {
  content: "\e900";
  color: #da2a32;
}
.ico-right:before {
  content: "\e901";
  color: #d6d6d6;
}
